nav {
  background-color: #46473e !important;
}

.paralsec {
  background-image: url("./media/pexels-pixabay-259611.jpg");
}
paral {
  min-height: 600px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

/* Paragrapgh for Parallax Section */
.paral p {
  font-size: 24px;
  color: #f5f5f5;
  text-align: center;
  line-height: 60px;
}

/* Heading for Parallax Section */
.paral h1 {
  margin: auto;
  color: gold;
  border: 1px solid white;
  font-size: 60px;
  text-align: center;
  padding-top: 10px;
  line-height: 100px;
}
